html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  margin: 10px;
  align-items: center;
  text-align: center;
  max-height: 50vh;
  overflow-y: auto;
}

.footer {
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-logo h1 {
  margin-block-end: 0;
}

.header-logo span {
  margin-left: 5px;
}

.header-save-btn {
  cursor: pointer;
  filter: grayscale(100%);
}

.resumo-carga-horaria-container {
  margin-right: 50px;
}

.classes-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  overflow-y: auto;
  margin-top: 15px;
}

.newSemesterButton {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 15px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  font-size: 1em;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1;
}

.semesters-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.class-box {
  position: relative;
  border: 1px solid black;
  width: 300px;
  height: 50px;
  margin: 5px;
  text-align: left;
}

.class-box-top {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.class-box-top-right {
  border: 0.5px solid black;
}

.class-box button {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0%;
  cursor: pointer;
}

.class-box:hover button{
  opacity: 100%;
}

.new-class-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.semester-box {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 400px;
  width: 350px;
  align-items: center;
  justify-content: space-between;
}

.classesRenderContainer {
  max-height: 75%;
  overflow-y: hidden;
}

.semester-info {
  text-align: left;
}

.removeSemesterButton {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0%;
  cursor: pointer;
  margin: 5px;
}

.semester-box:hover .removeSemesterButton{
  opacity: 100%;
}

.semester-box:hover .classesRenderContainer{
  overflow-y: auto;
}

.contact-list a {
  margin-left: 5px;
}